@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    background: #b0cbff;
    display: flex;
    flex-direction: column;
}

/* navigation */
nav{
    background-color: #cedfff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 3rem;
}
.imgAndHeader{
    display: flex;
    align-items: center;
}

.imgAndHeader img{
    height: 2rem;
    margin-right: 10px;
    /* width: 50px; */
}
.imgAndHeader h3{
    font-size: 1.4rem;
}
nav ul{
    list-style: none;
    display: flex;
}

nav a{
    display: flex;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0rem 1.5rem;
    color: inherit;
    margin: 0 0.5rem;
}
nav a:hover{
    border-bottom: 4px solid #05a805;
}
.static-contact{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}
.static-contact .st{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    background-color: aliceblue;
    padding: 2rem;
    border: 0.5rem inset #006aff;
    z-index: 1;
}
.st p{
    font-size: 0.8rem;
}
.st h4{
    margin: 1rem 0;
    font-size: 1.2rem;
}
form{
    align-self: center;
    background: #69bcff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    transform: translateY(-5rem);
    border: 0.5rem inset blue;
    /* z-index: -1; */
}
form h3{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
}
form input, form textarea{
    width: 25rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 2rem;
    outline: none;
    border: 1px solid black;
}
form .text-box{
    height: 10rem;
    border-radius: 0.5rem;
}
form button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    border-radius: 0.5rem;
    border: 3px inset #78059e;
    background-color: #cedfff;
    margin-top: 1rem;
}
form button:hover{
    background-color: #bed4fe;

}